@import "./reset.css";

html, body {
    margin: 30px;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    letter-spacing: .055rem;
    background: burlywood; 
    font-size: 20px;
}

header {
    display: flex;
    background-color: white;
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
    }

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}


h4 {
    font-size: 25px;
}

button {
    background-color: rgba(0, 119, 255, 0.913);
    margin-top: 10px;
    width: 80px;
    color: #f4f3f4;
    border-radius: 12%;
    border-color: rgb(0, 81, 255);
    font-size: 15px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    align-content: baseline;
    }

button:hover {
    background-color: rgb(183, 206, 53);
    } 

.button {
    margin-left: 90%;
    background-color: rgb(135, 216, 222);
    color:blue;
}
.valider {
    padding-block: 8px;
    margin-left: 100px;
    background-color: rgb(206, 53, 137);
} 
.question-container {
    margin-top: 50px;
    
}

a {
    /*display: -moz-grid-line; */
    text-align: center;
    font-size: 20px;
    margin-right: 150px;
    margin-left: 250px;
    padding-top: 10px;
    color:blue;
    
       
}
a:hover {
    color:chocolate;
}
.Rejouer {
margin-left: 20px;
}
.indice {
   padding-block: 8px;
    margin-left: 100px;
    background-color: rgb(206, 53, 137); 
}
.Explications-container {
    font-size: 30px;
}

#proposition_1:hover {
    color: chocolate;
}
#proposition_2:hover {
    color: chocolate;
}
#proposition_3:hover {
    color: chocolate;
}
#proposition_4:hover {
    color: chocolate;
}