@import "./reset.css";

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    font-size: 16px;

  } }
html, body {
    margin: 30px;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 3, 156);
    letter-spacing: .055rem;
    background: rgb(234, 205, 168); 
    font-size: 20px;
}

header {
    display: flex;
    background-color: white;
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
    }

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
}
h2 {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

h3 {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

button {
    background-color: rgba(0, 119, 255, 0.913);
    margin-top: 10px;
    width: 80px;
    color: #f4f3f4;
    border-radius: 12%;
    border-color: rgb(0, 81, 255);
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    align-content: baseline;
    }

button:hover {
    background-color: rgb(183, 206, 53);
    } 

.button {
    margin-left: 30%;
    background-color: rgb(135, 216, 222);
    color:blue;
    align-content: baseline;
}
.valider {
    padding-block: 8px;
    margin-left: 100px;
    background-color: rgb(206, 53, 137);
}
.commencer {
    padding-block: 8px;
    background-color:blue;
    color : white;
    margin-block: 10px;
} 
.question-container {
    margin-top: 50px;

}
#menu {
    margin-left: 90%;
}

a {
    /*display: -moz-grid-line; */
    
    font-size: 20px;
    margin-right: 150px;
    margin-left: 250px;
    padding-top: 10px;
    color:blue;
      
}
#drapeau {
    text-align: center;
    margin-left: 500px;
}
a:hover {
    color:chocolate;
}
.Rejouer {
margin-left: 20px;
margin-top: 30px;
}
.indice {
   padding-block: 8px;
    margin-left: 100px;
    background-color: blue;
    color: white; 
}
.Explications-container {
    font-size: 30px;
}
#score_final {
    margin-left: 50%;
    color:blue;
    justify-content: center;
    font-size: 25px; 
}
.explication_des_réponses {
    font-size: 25px;
}

.boutonHoover {
    cursor: pointer;
}

.propositions:hover {
    color: chocolate;
}
